body {
  max-width: fit-content;
  font-family: Roboto, sans-serif;
}

header {
  text-align: center;
  font-family: Shrikhand, cursive;
  color: $grey;
  background-color: $white;
  padding:20px;
}

header img {
  height: 40px;
}

form {
  text-align: center;
  background-color: $grey;
  font-size: medium;
  box-shadow: 0 -5px 0 $lightgray;
}

form input {
  font-size: 15px;
  font-weight: bold;
  background-color:$grey;
  height: 50px;
  border:none;
}

ul {
  padding: 0;
  list-style: none;
}

ul,
figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: $silver;
  text-align: center;
}

p {
  margin: 20px;
}

a {
  text-decoration: none;
  color:$black;
}

section a {
  display: flex;
  justify-content: center;
  object-fit: contain;
  flex-flow: row wrap;
  align-items: flex-start;
  border-radius: 60px;
  color: $white ;
  padding: 15px;
  border:20px;
  margin: auto;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: $white;
  text-align: center;
  justify-content: space-between;
}

.fonctionnement li{
  display: flex;
  object-fit: contain;
  flex-flow: row wrap;
  align-items: center;
  background-color: $silver;
  border-radius: 25px;
  margin: 30px;
  padding: 3px;
  box-shadow: 0 4px 4px 4px $grey;
  grid-gap: 5px;
}

.fonctionnement li span {
  color: $white;
  background-color: $purple;
  border-radius: 50%;
  margin: 20px 20px 20px -15px;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.fonctionnement li:hover i,
.fonctionnement li:focus i {
  color: $purple;
}

.btn{
  background: linear-gradient($magenta, $purple);
  color:$white;
}

.restaurants {
  background-color: $silver;
  padding: 20px;
}

.restaurants img {
  height:250px;
  width: 100%;
  object-fit: cover;
}