$violet: #AA5EDC;
$pink: #FF79DA;
$green: #99E2D0;
$silver: #F3F3F3;
$slate: #353535;
$white: #FFF;
$black: #000;
$grey: #EAEAEA;
$lightgray:#D3D3D3;
$purple: #9747FF;
$magenta:#D06ADB;

$figcaption-margin: 20px;